# requirements.txt
fastapi
uvicorn[standard]
tritonclient[http]
numpy
opencv-python-headless
pillow
python-multipart
prometheus_client
celery[redis]
mediapipe
redis
psycopg2-binary
sqlalchemy
python-dotenv
easyocr
ultralytics
